/STM32CubeExpansion_LRWAN_V2.1.0/Projects/NUCLEO-L073RZ/Applications/SubGHz_Phy/SubGHz_Phy_PingPong/EWARM/SubGHz_Phy_PingPong.dep
/STM32CubeExpansion_LRWAN_V2.1.0/Projects/NUCLEO-L073RZ/Applications/SubGHz_Phy/SubGHz_Phy_PingPong/EWARM/settings
/STM32CubeExpansion_LRWAN_V2.1.0/Projects/NUCLEO-L073RZ/Applications/SubGHz_Phy/SubGHz_Phy_PingPong/EWARM/sx1276mb1mas
*.bak
